<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240035399440-n4ctni3hldqiqd0oak4r2saam4rf8st9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240035399440-n4ctni3hldqiqd0oak4r2saam4rf8st9</string>
	<key>API_KEY</key>
	<string>AIzaSyBYm8m1UeU-pM7mjYtxEC09S3mP5HRCrYE</string>
	<key>GCM_SENDER_ID</key>
	<string>240035399440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.biiak.-7-RayBan-Store</string>
	<key>PROJECT_ID</key>
	<string>rayban-store</string>
	<key>STORAGE_BUCKET</key>
	<string>rayban-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240035399440:ios:384d3bf605ae6f02900795</string>
	<key>DATABASE_URL</key>
	<string>https://rayban-store-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>