<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!----------- Facebook API ----------->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb1122122925354931</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1122122925354931</string>
    <key>FacebookClientToken</key>
    <string>269785df5cb66ad2a433c35e104900e4</string>
    <key>FacebookDisplayName</key>
    <string>07-RayBan-Store</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
    </array>
    
    <key>FacebookAutoLogAppEventsEnabled</key>
    <string>TRUE</string>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <string>TRUE</string>
    
    <!----------- Statusbar style ----------->
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    
    <!----------- Custom Fonts ------------>
    <key>UIAppFonts</key>
        <array>
            <string>Oswald-Bold.ttf</string>
            <string>Oswald-SemiBold.ttf</string>
            <string>Oswald-Medium.ttf</string>
            <string>Oswald-Regular.ttf</string>
            <string>Oswald-ExtraLight.ttf</string>
            <string>Oswald-Light.ttf</string>
            <string>Lato-Thin.ttf</string>
            <string>Lato-Bold.ttf</string>
            <string>Lato-Black.ttf</string>
            <string>Lato-Regular.ttf</string>
            <string>Lato-Light.ttf</string>
        </array>

    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
